-# coding: utf-8
!!! 5
%html{lang:"zh-CN"}
  %head
    %meta{charset:"utf-8"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=no"}/
    %meta{name:"Description", content:"欢迎关注常乐足道"}
    %title 常乐足道
    %link{rel:"stylesheet",href:"stylesheets/screen.css"}
    %script{src:"scripts/modernizr.min.js"}
  %body
    %main
      %section.scene.fix.up_after
        .container
          %h1 one
        %span.scroll-indicator V
      %section.scene.up.shrink_after
        .container
          %h1 two
        %span.scroll-indicator V
      %section.scene.shrink.up_after
        .container
          %h1 three
        %span.scroll-indicator.reverse V
  %script{src:"scripts/jquery-1.11.0.min.js"}
  %script{src:"scripts/jquery-migrate-1.2.1.min.js"}
  %script{src:"scripts/browserSwipe.js"}
  %script{src:"scripts/touchswipe.js"}
  %script{src:"scripts/main.js"}


